@use 'colors' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: $bgc;
    color: $txtc;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .loader-container{
        display: flex;
        justify-content: flex-start;

        flex-direction: column;
        width: 100%;
    }
}